modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_gemini_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 34115
externalPort = 9000

[[ports]]
localPort = 34367
externalPort = 5000

[[ports]]
localPort = 34549
externalPort = 8008

[[ports]]
localPort = 35795
externalPort = 3002

[[ports]]
localPort = 35895
externalPort = 3003

[[ports]]
localPort = 37329
externalPort = 6000

[[ports]]
localPort = 40509
externalPort = 8081

[[ports]]
localPort = 41047
externalPort = 5173

[[ports]]
localPort = 42353
externalPort = 3000

[[ports]]
localPort = 42571
externalPort = 6800

[[ports]]
localPort = 43363
externalPort = 8099

[[ports]]
localPort = 44403
externalPort = 8000

[[ports]]
localPort = 46619
externalPort = 4200

[objectStorage]
defaultBucketID = "replit-objstore-005adaa9-1cce-4c34-9d82-43b2125a4ea5"

[userenv]

[userenv.shared]
VITE_FIREBASE_PROJECT_ID = "tpm-workflow"
