-- Enable RLS on mmp_site_entries
ALTER TABLE mmp_site_entries ENABLE ROW LEVEL SECURITY;

-- Create policies for mmp_site_entries
CREATE POLICY \
Allow
select
mmp_site_entries
for
authenticated\ ON mmp_site_entries FOR SELECT USING (auth.role() = 'authenticated');
CREATE POLICY \Allow
insert
mmp_site_entries
for
authenticated\ ON mmp_site_entries FOR INSERT WITH CHECK (auth.role() = 'authenticated');
CREATE POLICY \Allow
update
mmp_site_entries
for
authenticated\ ON mmp_site_entries FOR UPDATE USING (auth.uid() = accepted_by::uuid OR accepted_by IS NULL);
CREATE POLICY \Allow
delete
mmp_site_entries
for
authenticated\ ON mmp_site_entries FOR DELETE USING (auth.uid() = accepted_by::uuid OR accepted_by IS NULL);

-- Enable RLS on site_locations
ALTER TABLE site_locations ENABLE ROW LEVEL SECURITY;

-- Create policies for site_locations
CREATE POLICY \Allow
select
site_locations
for
authenticated\ ON site_locations FOR SELECT USING (auth.role() = 'authenticated');
CREATE POLICY \Allow
insert
site_locations
for
authenticated\ ON site_locations FOR INSERT WITH CHECK (auth.role() = 'authenticated');
CREATE POLICY \Allow
update
site_locations
for
authenticated\ ON site_locations FOR UPDATE USING (auth.uid() = user_id::uuid);
CREATE POLICY \Allow
delete
site_locations
for
authenticated\ ON site_locations FOR DELETE USING (auth.uid() = user_id::uuid);
